h1{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
 }
 body{
    background-color: antiquewhite;
 }
 .map_visual{
   display : block;
   border: 4px solid black;
   width : 800;
   height : 450;   
 }
 .Bubble_visual{
   display : block;
   border: 4px solid black;
 }
 .donut_visual{
   display : block;
   border: 4px solid black;
 }
 .WorldCloud_visual{
   display : block;
   border: 4px solid black;
 }
